@use "sass:color";

$color-purple-600: #ff8200 !default;
$color-purple-300: #ffab4d !default !default;
$color-blue-600: #FAC218 !default;
$color-blue-300: #f6ca46 !default;
$color-grey-600: #9C9C9C !default;
$color-grey-300: #D9D9D9 !default;
$color-black-600: #000000 !default;
$color-black-300: #1C1C1C !default;
$color-white-600: #FFFFFF !default;
$color-white-300: #EEEEEE !default;
$color-red: #CB0000 !default;
$color-green: #1CC900 !default;

$font-family-Inter: 'Inter', sans-serif !default;
$font-size-14: 14px !default;
$font-size-16: 16px !default;
$font-size-20: 20px !default;

$primary-color-1: $color-purple-600;
$primary-color-2: $color-purple-300;
$secondary-color-1: $color-blue-600;
$secondary-color-2: $color-blue-300;
$tertiary-color: $color-grey-600;
$text-color-dark: $color-black-600;
$text-color-light: $color-white-600;
$background-dark: $color-black-300;
$background-light: $color-white-300;
$error-color: $color-red;
$success-color: $color-green;

$border-radius-8: 8px !default;
$border-radius-4: 4px !default;
